<div class="footer">
    <div class="container">
        <ul class="footer-links pull-right">
            {% for node in site.pages %}
                {% unless node.exclude_from_nav %}
                    {% if node.title %}
                        <li class="{% if page.url == node.url %}active{% endif %}">
                            <a href="{{ node.url }}">{{ node.title }}</a>
                        </li>
                    {% endif %}
                {% endunless %}
            {% endfor %}
        </ul>
        
        <ul class="footer-links">
            <li>&copy; 2015 Aaron Wilson</li>
        </ul>
    </div>
</div>
