html {
    background-color: #ccc;
    background: url('/assets/img/background.jpg') no-repeat center center;
    background-size:cover;
}

body {
    min-height:100%;
}

.footer {
    color: #fff;
    background: rgba(1, 1, 1, 0.4);
}

.footer a {
    color: #fff;
}

.footer a:focus, .footer a:hover {
    color: #fff;
    text-decoration: none;
}