html {
    background-color: #333;
}

body {
    min-height:100%;
    background: transparent;
}

#dummyBg {
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    margin:0;
    padding:0;
    z-index:-1000;
    background-image: url('/assets/img/background.jpg');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
}

.footer {
    color: #fff;
    background: rgba(1, 1, 1, 0.4);
}

.footer a {
    color: #fff;
}

.footer a:focus, .footer a:hover {
    color: #fff;
    text-decoration: none;
}