body {
    background: #f5f5f5;
    margin-top: 70px;
    margin-bottom: 40px;
}

html {
    position: relative;
    min-height: 100%;
}

a {
    color: #4183C4;
    text-decoration: none;
}

.navbar-default {
    background-color: #222;
    border-color: #111;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus  {
    color: #ECEFF1;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #ECEFF1;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #111;
    color: #ECEFF1;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #111;
}

.panel-default>.panel-heading {
    background-color: #90A4AE;
    border-color: #78909C;
    color: #ECEFF1;
}

.panel-default>.panel-heading a {
    color: #ECEFF1;
    text-decoration: none;
}

.page {
    background-color: #fff;
    border: 1px solid #ddd;
}

.album {

    margin-bottom: 20px;
}

.album .row {
    margin-left: 0;
    margin-right: 0;
}

.album .album-content {
    background-color: #fff;
    border: 1px solid #ddd;
    height: 251px;
}

.album .album-header {
    background-color: #222;
    padding-left: 0;
    padding-right: 0;
    float: left;
    width: 100%;
}

.album .album-header .album-art {
    width: 70px;
    height: 70px;
    float: left;
}

.album .album-header .album-art>img{
    width: 70px;
    height: 70px;
}

.album .album-header .album-footer {
    color: #fff;
    padding: 14px 8px;
    line-height: 21px;
    height: 70px;
    float: left;
}

.album .album-header .album-footer p {
    margin: 0;
}

.album .album-body {
    float: left;
    height: 160px;
    padding: 10px;
}

.album .album-body ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
}

@media (min-width: 768px) {
    .album .album-header {
        width: 200px;
    }

    .album .album-header .album-art {
        width: 200px;
        height: 200px;
    }

    .album .album-header .album-art>img {
        width: 200px;
        height: 200px;
    }
    
    .album .album-header .album-footer {
        height: 50px;
        padding: 6px 8px;
        line-height: 19px;
    }
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #777;
    overflow: hidden;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin-left: 0;
    margin-right: 10px;
}

.footer-links.pull-right li {
    margin-left: 10px;
    margin-right: 0;
}

.footer a:focus, .footer a:hover {
    text-decoration: none;
}

#post {
    margin-bottom: 40px;
}
