body {
    background: #f5f5f5;
    margin-top: 70px;
    margin-bottom: 40px;
}

html {
    position: relative;
    min-height: 100%;
}

a {
    color: #4183C4;
    text-decoration: none;
}

.navbar-default {
    background-color: #222;
    border-color: #111;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
    color: #ECEFF1;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #ECEFF1;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #111;
    color: #ECEFF1;
}

.panel-default>.panel-heading {
    background-color: #90A4AE;
    border-color: #78909C;
    color: #ECEFF1;
}

.panel-default>.panel-heading a {
    color: #ECEFF1;
    text-decoration: none;
}


.albums {
    list-style-type: none;
    columns: 2 300px;
    -moz-columns: 2 300px;
    -webkit-columns: 2 300px;
    margin: 0;
    padding: 0;
}

.albums .album {
    display: inline-block;
    height: 260px;
    margin-bottom: 20px;
}

.albums .album .album-header {
    width: 200px;
    height: 260px;
    background-color: #222;
    float: left;
}

.albums .album .album-body {
    width: 350px;
    height: 260px;
    background-color: #fff;
    float: left;
    padding: 10px;
    border: 1px solid #ddd;
}

.albums .album .album-body ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.albums .album .album-header .album-art {
    width: 200px;
    height: 200px;
}

.albums .album .album-header .album-footer {
    width: 200px;
    height: 60px;
    line-height: 30px;
    background-color: #222;
    color: #fff;
    padding: 0 10px;
}

.albums .album .album-header .album-footer p {
    margin: 0;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #777;
    overflow: hidden;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin-left: 0;
    margin-right: 10px;
}

.footer-links.pull-right li {
    margin-left: 10px;
    margin-right: 0;
}

.footer a:focus, .footer a:hover {
    text-decoration: none;
}

#post {
    margin-bottom: 40px;
}
