body {
    background: #ECEFF1;
    margin-top: 70px;
}

.navbar-default {
    background-color: #607D8B;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
    color: #D9853B;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: inherit;
    color: #ECEFF1;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #CFD8DC;
    color: #B0BEC5;
}

.footer p {
    margin: 0;
}
