body {
    background: #74AFAD;
    margin-top: 70px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
    color: #D9853B;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: inherit;
    color: #D9853B;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #558C89;
    color: #74AFAD;
}

.footer p {
    margin: 0;
}
