body {
    background: #ECEFF1;
}

html, body {
    height: 100%;
}

.wrapper>.container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-top: 70px;
    margin-bottom: -40px;
}

.navbar-default {
    background-color: #607D8B;
    border-color: #546E7A;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
    color: #ECEFF1;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #ECEFF1;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #546E7A;
    color: #ECEFF1;
}

.panel-default>.panel-heading {
    background-color: #90A4AE;
    border-color: #78909C;
    color: #ECEFF1;
}

.panel-default>.panel-heading a {
    color: #ECEFF1;
    text-decoration: none;
}


.albums {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.albums .album {
    display: inline-block;
    height: 260px;
    margin: 0 20px 20px 0;
}

.albums .album .album-header {
    width: 200px;
    height: 260px;
    background-color: #78909C;
    float: left;
}

.albums .album .album-body {
    width: 400px;
    height: 260px;
    background-color: #CFD8DC;
    float: left;
    padding: 10px;
}

.albums .album .album-body ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.albums .album .album-header .album-art {
    width: 200px;
    height: 200px;
}

.albums .album .album-header .album-footer {
    width: 200px;
    height: 60px;
    line-height: 30px;
    background-color: #607D8B;
    color: #ECEFF1;
    padding: 0 10px;
}

.albums .album .album-header .album-footer p {
    margin: 0;
}


.footer {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #CFD8DC;
    color: #90A4AE;
}

.footer p {
    margin: 0;
}
