body {
    background: #ECEFF1;
    margin-top: 70px;
}

.navbar-default {
    background-color: #607D8B;
    border-color: #546E7A;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
    color: #ECEFF1;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #ECEFF1;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #546E7A;
    color: #ECEFF1;
}

.panel-default>.panel-heading {
    background-color: #90A4AE;
    border-color: #78909C;
    color: #ECEFF1;
}

.panel-default>.panel-heading a {
    color: #ECEFF1;
    text-decoration: none;
}


.albums {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.albums .album {
    display: inline-block;
    height: 240px;
    margin: 0 20px 20px 0;
}

.albums .album .album-header {
    width: 200px;
    height: 240px;
    background-color: #CFD8DC;
    display: inline-block;
}

.albums .album .album-header {
    width: 400px;
    height: 240px;
    background-color: #CFD8DC;
    display: inline-block;
}

.albums .album .album-header .album-art {
    width: 200px;
    height: 200px;
}

.albums .album .album-header .album-footer {
    width: 200px;
    height: 40px;
    line-height: 40px;
    background-color: #78909C;
    color: #ECEFF1;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #CFD8DC;
    color: #90A4AE;
}

.footer p {
    margin: 0;
}
