---
layout: default
title: Music
permalink: /music/
---

<ul class="albums">
{% for album in site.data.albums %}
    {% assign artist = site.data.artists[album.artist] %}
    <li class="album">
        <div class="album-header">
            <div class="album-art">
                
            </div>
            <div class="album-footer">
                <p>{{ album.name }}</p>
                <p>{{ artist.name }}</p>
            </div>
        </div>
        <div class="album-body">
            <ul class="album-songs">
                {% for post in site.categories[album.key] %}
                    <li>{{ post.title }}</li>
                {% endfor %}
            </ul>
        </div>
    </li>
{% endfor %}
</ul>
