---
layout: post
title: Freedom Rising
artist: The Revolution
album: This Is How We Party
categories: [the-revolution, this-is-how-we-party]
date: 2015-10-30 09:46:00
---

<h2>Lead</h2>

{% assign song = site.data.songs.equippers-revolution.freedom-rising %}

{% for section in song.sections %}
  <h4>{{ section.name }}</h4>
  
<pre>
options space=20
{% for stave in section.staves %}
  tabstave
    notation=true
    key={{ song.key }} time={{ song.time-signature }}
    
    {% for line in stave %}{{ line }}{% endfor %}
{% endfor %}
options space=25
</pre>
  
  <div class="vex-tabdiv" width=750 scale=1.0 editor="false" editor_width=680 editor_height=330>
options space=20
{% for stave in section.staves %}
  tabstave
    notation=true
    key={{ song.key }} time={{ song.time-signature }}
    
    {% for line in stave %}{{ line }}{% endfor %}
{% endfor %}
options space=25
  </div>
{% endfor %}
