<!DOCTYPE html>
<html>

    {% include home_head.html %}

    <body>

        <div id="dummyBg" style="display: none"></div>
    
        <div class="wrapper">
            {% include header.html %}
    
            <div class="container" style="display: none">
                {{ content }}
            </div>
        
            {% include footer.html %}
        </div>
    
        {% include scripts.html %}
        
        <script type="text/javascript">
            $('<img/>').attr('src', '/assets/img/background.jpg').load(function() {
                $(this).remove();
                $('#dummyBg').css('background-image', 'url(/assets/img/background.jpg)');
                $("#dummyBg").fadeIn(1000, function() {
                    $('.container').fadeIn(1000);
                });
            });
        </script>

    </body>

</html>
