---
layout: default
---
<article id="post" class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <header>
        <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
      </header>

      <nav>
        <span class="field">
          <i class="fa fa-list-ul"></i>
          <span>{{ page.author }}</span>
        </span>
        <span class="field">
          <i class="fa fa-calendar"></i>{{ page.date | date_to_long_string }}
        </span>
        <span class="field">
          <i class="fa fa-tags"></i>
          <span>{{ page.album }}</span>
        </span>
      </nav>

      <section>
        <p>{{ content }}</p>
      </section>
    </div>
  </div>
</article>
