{% assign song = site.data.songs.[page.artist].[page.title] %}
{% assign artist = site.data.artists[page.artist] %}
{% assign album = site.data.artists[page.album] %}

<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

        <div class="wrapper">
            {% include header.html %}
    
            <div class="container">
                <div class="row">
                    <div class="col-md-12 page">
                        <div class="row page-heading">
                            <div class="heading-text">
                                <header>
                                    <h1>{{ song.name }}</h1>
                                </header>

                                <ul class="list-unstyled">
                                    <li>
                                        <span class="glyphicon glyphicon-music"></span>
                                        {{ album.name }} ({{ album.year }}) - {{ artist.name }}
                                    </li>
                                    <li>
                                        <span class="glyphicon glyphicon-calendar"></span>
                                        Updated {{ page.date | date_to_long_string }}
                                    </li>
                                </ul>
                            </div>
                            
                            <img class="heading-image hidden-xs" src="../assets/img/album/{{ page.album }}.jpg" />
                        </div>

                        <section>
                            {% for section in song.sections %}
                              <h3>{{ section.name }}</h3>
                              
                              <div class="vex-tabdiv" width=940 scale=1.0 editor="false">
                                {% for stave in section.staves %}
                                  options player=true tempo={{ song.tempo }}
                                  tabstave
                                    notation=true
                                    key={{ song.key }} time={{ song.time-signature }}
                                    
                                    {% for line in stave %}{{ line }}
                                    {% endfor %}
                                {% endfor %}
                              </div>
                              
                              <pre style="display: none;">
                                {% for stave in section.staves %}
                                  options player=true tempo={{ song.tempo }}
                                  tabstave
                                    notation=true
                                    key={{ song.key }} time={{ song.time-signature }}
                                    
                                    {% for line in stave %}{{ line }}
                                    {% endfor %}
                                {% endfor %}
                              </pre>
                            {% endfor %}
                            
                            <p>{{ content }}</p>
                            
                        </section>
                    </div>
                </div>
            </div>
        
            {% include footer.html %}
        </div>
    
        {% include scripts.html %}
        <script src="/assets/js/midi.min.js"></script>
        <script src="/assets/js/vextab-div.js"></script>

    </body>

</html>
