{% assign song = site.data.songs.[page.artist].[page.title] %}

<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

        <div class="wrapper">
            {% include header.html %}
    
            <div class="container">
                <article id="post" class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <header>
                                <h1>{{ song.name }}</h1>
                            </header>

                            <nav>
                                <span class="field">
                                    <span class="glyphicon glyphicon-equalizer"></span>
                                    {{ page.album }} // {{ page.artist }}
                                </span>
                                <span class="field">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    {{ page.date | date_to_long_string }}
                                </span>
                            </nav>

                            <section>
                                
                                
                                {% for section in song.sections %}
                                  <h4>{{ section.name }}</h4>
                                  
                                  <div class="vex-tabdiv" width=940 scale=1.0 editor="false">
                                    {% for stave in section.staves %}
                                      options player=true tempo={{ song.tempo }}
                                      tabstave
                                        notation=true
                                        key={{ song.key }} time={{ song.time-signature }}
                                        
                                        {% for line in stave %}{{ line }}
                                        {% endfor %}
                                    {% endfor %}
                                  </div>
                                  
                                  <pre style="display: none;">
                                    {% for stave in section.staves %}
                                      options player=true tempo={{ song.tempo }}
                                      tabstave
                                        notation=true
                                        key={{ song.key }} time={{ song.time-signature }}
                                        
                                        {% for line in stave %}{{ line }}
                                        {% endfor %}
                                    {% endfor %}
                                  </pre>
                                {% endfor %}
                                
                                <p>{{ content }}</p>
                                
                            </section>
                        </div>
                    </div>
                </article>
            </div>
        
            {% include footer.html %}
        </div>
    
        {% include scripts.html %}
        <script src="/assets/js/vextab-div.js"></script>

    </body>

</html>
